<% include ./partials/header.ejs %>

<div class="w-full h-screen bg-center bg-cover bg-[url(https://images.unsplash.com/photo-1632073590402-dbed0eed10a9?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D)] flex items-center justify-center">
  <div class="w-[28vw] bg-white px-20 py-10 rounded-[30px]">
    <h1 class="text-3xl mb-5 text-center font-semibold text-zinc-700 leading-none tracking-tighter capitalize">Welcome to pinterest</h1>
    <form action="/register" method="post">
      <input class="border-2 rounded-md block mt-5 w-full px-3 py-2" type="text" name="username" placeholder="username">
      <input class="border-2 rounded-md block mt-2 w-full px-3 py-2" type="password" name="password" placeholder="password">
      <a class="mt-2 font-semibold text-zinc-500 inline-block" href="#">Forgot your password?</a>
      <input class="border-2 rounded-full block mt-2 w-full px-3 py-2 bg-red-600 text-white rounded-full" type="submit" placeholder="Login">
      <p class="text-xs font-semibold text-zinc-700 mt-3 w-3/3 mx-auto">By continuing, you agree to Pinterest's
        Terms of Service, Privacy policy.
      </p>
    </form>
    <a class="inline-block mt-7 text-sm font-semibold text-zinc-700 text-center w-full" href="/register">Dont have an account ? </a>
  </div>
</div>

<% include ./partials/footer.ejs %>
